
// Product 

.grid-3 {
  display: grid;
  justify-content: center;
}

.product__inner {
  justify-content: center;
  display: flex;
  border: 1px solid #eee;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 25px;
}

.product-image {
  width: 150px;
}

// Star rating

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

// Comments

.comment-form {
  padding: 25px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  margin-top: 25px;
  margin-bottom: 25px;
}

.comments-container {
  padding: 25px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}

.comment-form__inner {
  display: grid;
  * + * { 
    margin-top: 5px;
  }
}

.comment-image-container img {
  width: 50px;
}

.comment-form-button {
  width: 50px;
  border: 1px solid #000;
  padding: 5px;
}

.comment {
  display: flex;
  gap: 16px;
  * + * { 
    margin-top: 5px;
  }
  .replies {
    margin-top: 16px;
  }
}

.comment-actions {
  display: flex;
  .comment-action {
    border: 1px solid #000;
    padding: 5px;
  }
}