body {
  font-family: 'Open Sans';
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 5px;
  margin-block-end: 5px; }

h6 {
  font-size: 16px; }

h5 {
  font-size: 18px; }

h4 {
  font-size: 20px; }

h3 {
  font-size: 24px; }

h2 {
  font-size: 28px; }

h1 {
  font-size: 56px; }

.header {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 38.5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2); }

.header a {
  color: blue; }

.header a:hover {
  opacity: 0.8; }

.header__inner {
  display: flex;
  justify-content: space-between; }

.header-branding {
  display: flex;
  justify-content: center;
  padding: 5px; }

.header-links {
  display: flex;
  padding: 5px; }

.header-links a {
  padding: 5px 20px; }

.comment-form {
  padding: 25px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  margin-bottom: 25px; }

.comments-container {
  padding: 25px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2); }

.comment-form__inner {
  display: grid; }

.comment-form__inner * + * {
  margin-top: 5px; }

.comment-image-container img {
  width: 50px; }

.comment-form-button {
  width: 100px; }

.comment {
  display: flex;
  gap: 16px; }

.comment .replies {
  margin-top: 32px; }

.comment-form__review {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px; }

.comment-actions {
  display: flex;
  gap: 8px; }

.comment-meta {
  display: flex; }

.comment-meta * {
  padding: 5px; }

.comment-meta__author {
  font-weight: 600; }

.comment-meta__date {
  font-weight: 300;
  color: #565656;
  font-style: italic; }

.comment-message {
  margin-top: 8px;
  margin-bottom: 8px; }

.comment-right-part {
  margin-bottom: 8px; }

.grid-3 {
  display: grid;
  justify-content: center; }

.product {
  margin-top: 50px;
  max-width: 650px;
  width: 100%; }

.product__inner {
  justify-content: center;
  display: flex;
  border: 1px solid #eee;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 25px; }

.product-image__wrapper {
  border: 1px solid #eee;
  width: 100%;
  justify-items: center;
  display: grid;
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 4px; }

.product-image {
  width: 150px; }

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.on {
  color: gold; }

.off {
  color: #ccc; }

@media all and (max-width: 639px) {
  .product__inner {
    display: grid;
    justify-items: center; } }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.footer__inner {
  display: flex; }

.footer-branding {
  padding: 10px;
  display: flex;
  justify-content: center; }

.footer-branding img {
  width: 120px;
  height: auto; }

.footer-links {
  display: flex;
  align-items: center; }

.footer-links a {
  padding: 5px 20px; }

input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], textarea {
  appearance: none;
  display: inline-block;
  min-height: 36px;
  padding: 8px 12px;
  width: 100%;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  border-radius: 1px;
  font-size: 15px;
  color: #404040;
  outline: none; }

input[type='submit'], .primary-button {
  color: black;
  text-decoration: none;
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  border: 0px;
  outline: none;
  display: inline-block;
  padding: 8px 22px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none; }

input[type='submit']:hover, .primary-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* change button color here */ }

input[type='submit']:active, .primary-button:active {
  background-color: rgba(0, 0, 0, 0.3);
  /* change button color here */
  border: 0px;
  -webkit-box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, 0.15); }
